html, body {
  margin: 0;
  height: 100vh;
  background: black;
  overflow: hidden;
  font-family: serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: clamp(40px, 5vw, 72px);
  margin: 4vh auto;
}

#game-container {
  height: 70vh; 
  width: 95vw; 
  margin: 0 auto;
}

canvas { 
  display: block; 
}
